/*css reset*/
@import url("https://fonts.googleapis.com/css?family=Montserrat");
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/*css reset*/
/* stars */
.star_holder {
  height: 20px;
  width: 100px;
  float: right;
  margin-right: 20px;
  margin-top: 20px;
  color: gray;
}

/* stars */
/*css reset*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/*css reset*/
/* stars */
.star_holder {
  height: 20px;
  width: 100px;
  float: right;
  margin-right: 20px;
  margin-top: 20px;
  color: gray;
}

/* stars */
.holder {
  width: 1100px;
  height: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid black;
}

.holder .restaurant_wrapper {
  height: 300px;
  width: 250px;
  border: 1px solid gray;
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 18px;
  overflow: hidden;
}

.holder .restaurant_wrapper p {
  margin-left: 20px;
  margin-top: 20px;
  font-family: 'Montserrat', sans-serif;
}

.holder .restaurant_wrapper .address {
  cursor: pointer;
}
