@import "reset";
@import url('https://fonts.googleapis.com/css?family=Montserrat');
.holder{
	width: 1100px;
	height: 100vh;
	margin-top: 0px;
	margin-bottom: 20px;
	border: 1px solid black;
	float: left;
	overflow: scroll;
	overflow-x: hidden;
.restaurant_wrapper{
	height: 300px;
	width: 250px;
	border: 1px solid gray;
	display: inline-block;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 18px;
	overflow: hidden;
	p{
		margin-left: 20px;
		margin-top: 20px;
		font-family: 'Montserrat', sans-serif;
	}
	.address{
		cursor: pointer;
	}
	.description_text{
		margin-right: 20px;
		text-align: justify;
		font-size: 13px;
	}
    }
}

#map{
	height:100vh;
	width: calc(100% - 1102px);
	overflow: hidden;
	margin-top: 0px;
	float: right;
}