

@media only screen and (min-width: 1281px) {

}

@media only screen and (min-width: 992px) and (max-width: 1280px) {
.holder{width: 480px;margin-left: 0px;}
.restaurant_wrapper{height: 300px;width: 230px !important;margin-left: 4px !important;}
}
  
@media only screen and (min-width: 768px) and (max-width: 991px) {  
.holder{width: 240px;margin-left: 0px;}
.restaurant_wrapper{height: 300px;width: 230px !important;margin-left: 4px !important;}
}

@media only screen and (min-width: 480px) and (max-width: 767px) {

.holder{width: 240px;margin-left: 0px;}
.restaurant_wrapper{height: 300px;width: 230px !important;margin-left: 4px !important;}

}
@media only screen and (min-width: 320px) and (max-width: 479px) {
.holder{width: 240px;margin: auto;}
.restaurant_wrapper{height: 300px;width: 230px !important;margin-left: 4px !important;}
}

@media only screen and (max-width: 319px) {
.holder{width: 240px;margin: auto;}
.restaurant_wrapper{height: 300px;width: 230px !important;margin-left: 4px !important;}
}

